@import "../variables";

.nav {
  background-color: #FFFFCC;
  width: 100%;
  margin: 0;
  position: relative;
}

.nav_header {
    margin-left: 30%;
  a {
    padding: 22px 28px 7px;
    display: inherit;
    text-decoration: none;
    float: left;
    height: 30px;
  }
  a:hover {
    background-color: #b8efef ;
  }
  .nav_active{
    background-color: $bodyColor;
  }
}